<a href="https://colab.research.google.com/github/asengardeon/aprendizado_de_maquina/blob/master/trabalho_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd

In [66]:
df = pd.read_csv("/content/transformado.csv", sep=",")

In [83]:
df.head()

                              chave_unica  ... valor_critica
0  05412909202029092020210000000003223001  ...         17.52
1  05412909202029092020210000000003223001  ...         17.52
2  05412909202029092020210000000003223001  ...         17.52
3  05412909202029092020210000000003223001  ...         17.52
4  05412909202029092020210000000020065001  ...           NaN

[5 rows x 24 columns]

In [68]:
df.describe()

              codigo       cliente  ...  quantidade_critica  valor_critica
count   18123.000000  18123.000000  ...         9419.000000    9419.000000
mean     8963.210892  52087.899465  ...           17.868670     769.269625
std     87540.945702  26549.866886  ...           38.297647    1678.232990
min         0.000000    154.000000  ...            1.000000       0.000000
25%         1.000000  36731.000000  ...            2.000000      45.480000
50%         1.000000  48250.000000  ...            4.000000     144.320000
75%         1.000000  71722.000000  ...           13.000000     677.520000
max    873169.000000  99953.000000  ...          296.000000   14058.000000

[8 rows x 21 columns]

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18123 entries, 0 to 18122
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   chave_unica            18123 non-null  object
 1   timestamp              18123 non-null  object
 2   codigo                 18123 non-null  int64
 3   data                   18123 non-null  object
 4   cliente                18123 non-null  int64
 5   saldo_credito          18123 non-null  float64
 6   numero_dias_atraso     18123 non-null  int64
 7   valor_titulo_atraso    18123 non-null  float64
 8   numero_titulos_atraso  18123 non-null  int64
 9   total_pedido           18123 non-null  float64
 10  setor                  18123 non-null  int64
 11  status                 18123 non-null  int64
 12  critica_principal      18123 non-null  int64
 13  critica_cdp            18123 non-null  int64
 14  alcada1                18123 non-null  int64
 15  alcada2                18123 non-null  int64
 16  alcada3                18123 non-null  int64
 17  codigo_critica         18123 non-null  int64
 18  status_critica         18123 non-null  int64
 19  alcada_critica         18123 non-null  int64
 20  produto_critica        9419 non-null   float64
 21  combo_critica          9419 non-null   float64
 22  quantidade_critica     9419 non-null   float64
 23  valor_critica          9419 non-null   float64
dtypes: float64(7), int64(14), object(3)
memory usage: 3.3+ MB

In [70]:
df.produto_critica.fillna(0)

0        18345.0
1        18345.0
2        18345.0
3        18345.0
4            0.0
          ...
18118        0.0
18119        0.0
18120        0.0
18121        0.0
18122        0.0
Name: produto_critica, Length: 18123, dtype: float64

In [71]:
df.combo_critica.fillna(0.0)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
18118    0.0
18119    0.0
18120    0.0
18121    0.0
18122    0.0
Name: combo_critica, Length: 18123, dtype: float64

In [72]:
df.quantidade_critica.fillna(0.0)

0        1.0
1        1.0
2        1.0
3        1.0
4        0.0
        ...
18118    0.0
18119    0.0
18120    0.0
18121    0.0
18122    0.0
Name: quantidade_critica, Length: 18123, dtype: float64

In [73]:
df.valor_critica.fillna(0.0)

0        17.52
1        17.52
2        17.52
3        17.52
4         0.00
         ...
18118     0.00
18119     0.00
18120     0.00
18121     0.00
18122     0.00
Name: valor_critica, Length: 18123, dtype: float64

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18123 entries, 0 to 18122
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   chave_unica            18123 non-null  object
 1   timestamp              18123 non-null  object
 2   codigo                 18123 non-null  int64
 3   data                   18123 non-null  object
 4   cliente                18123 non-null  int64
 5   saldo_credito          18123 non-null  float64
 6   numero_dias_atraso     18123 non-null  int64
 7   valor_titulo_atraso    18123 non-null  float64
 8   numero_titulos_atraso  18123 non-null  int64
 9   total_pedido           18123 non-null  float64
 10  setor                  18123 non-null  int64
 11  status                 18123 non-null  int64
 12  critica_principal      18123 non-null  int64
 13  critica_cdp            18123 non-null  int64
 14  alcada1                18123 non-null  int64
 15  alcada2                18123 non-null  int64
 16  alcada3                18123 non-null  int64
 17  codigo_critica         18123 non-null  int64
 18  status_critica         18123 non-null  int64
 19  alcada_critica         18123 non-null  int64
 20  produto_critica        9419 non-null   float64
 21  combo_critica          9419 non-null   float64
 22  quantidade_critica     9419 non-null   float64
 23  valor_critica          9419 non-null   float64
dtypes: float64(7), int64(14), object(3)
memory usage: 3.3+ MB

In [79]:
df.critica_cdp.value_counts()

0      17539
106      237
66       208
4         83
41        44
158       12
Name: critica_cdp, dtype: int64

In [82]:
df.critica_principal.value_counts()

78     4619
101    3544
0      2832
120    1817
1       935
62      882
4       864
156     628
154     537
2       273
34      260
168     244
106     237
66      208
41       44
118      41
11       34
68       32
159      25
167      23
65       19
158      12
141      12
48        1
Name: critica_principal, dtype: int64